.transactionHistory {
  margin-left: 200px;
  width: 500px;
  text-align: center;
  margin: 50px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;

  margin-left: 700px;
}

.titleTh {
  background-color: aqua;
}

.subTitleTh {
  background-color: #dfe7eb;
}
